html { 
  font-family: 'Droid', sans-serif;
  font-size: .9em;
} 

body {
  margin-top: .5rem; 
}

h1 {
  font-size: 10rem;
  line-height: 8rem;
  color: #BF4033;
  opacity: .9;
  
}

.headerh1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.1rem;
  color: #BF4033;
  opacity: .9;
}

.headerh2 {
  font-size: 1.7rem;
  line-height: 1.8rem;
  color: white;
  opacity: .9;
  margin: 0 0 1rem 0;
}

h2 {
  background-color: #1469CC;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: black;
  padding: 1rem .5rem 1rem .5rem;
  opacity: .9;
}

h3 {
  background-color: skyblue;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.1rem;
  padding: .5rem .5rem .5rem .5rem;
  color: black;
  opacity: .9;
}

.asideparagraph {
  font-family: 'Droid', serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.6rem;
  color: black;
  opacity: .9;
 
}

p {
  font-family: 'Droid', serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: black;
  opacity: .9;
}

header {
  width:100%;
  background-color: white;
  padding: .5rem;
  clear:both;
  float:left;
  margin: 1rem;
  opacity: .9;
  background-image: url(../images/rpi-large.jpg);
  background-repeat: no-repeat;
  background-color: #1469CC;
  background-blend-mode: color-burn;
}

.toparticle {
  width:86%;
  background-color:#FFFFFF;
  padding: .1rem .5rem 0 0;
  clear: both;
  float: left;
  margin: 1rem;

}

article {
  width:50%;
  background-color:#FFFFFF;
  padding: .1rem .5rem 0 0;
  float: left;
  margin: 1rem;

}


.mainarticle {
  width:50%;
  background-color:#FFFFFF;
  padding: .1rem .5rem 0 0;
  float: left;
  margin: 1rem;

}


li {
  font-family: 'Lora', serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.9rem;
  color: black;
}


.topaside {
  width:25%;
  float: right;
  padding: 0 1 0 1;
  background-color:#FFFFFF;
  margin: 0 5rem 0 0;
}

aside {
  width:25%;
  float: right;
  padding: 0 1 0 1;
  background-color:#FFFFFF;
  margin: 0 5rem 0 0;

}

figure {
  width: 100%;
  
}

footer {
  width:100%;
  background-color: #1469CC;
  padding:1rem;
  clear:both;
  float:left;
  margin-top: 0;
  margin-bottom: 0;
  
}

a:link {
  text-decoration: none;
  color: black;
  font-weight: 700;
  
}

a:visited {
    text-decoration: none;
    color: black;
    font-weight: 700;

}

a:hover {
  color: #1469CC;
  text-decoration: none;
  font-weight: 900;
}

img { 
  clear:both;
  width: 100%;
  padding: .5rem 0 .5rem .5rem;

}

h4 {  
  background-color: #324A65;
  font-size: 1.5rem;
  line-height: 1.9rem;
  padding: .5rem;
  color: white;
  border-radius: 1rem;
  
}

h5 {  
  background-color: #698BB2;
  font-size: 1.3rem;
  line-height: 1.7rem;
  padding: .5rem;
  color: white;
  border-radius: 1rem;
  
}

i {
  color: #BF4033;
  
}

