html { 
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%; 
} 

body {
  margin-top: .5rem; 
}


select {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.1rem;
  color: #333333;
  
  
}

h1 {
  background-color: #1469CC;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.1rem;
  color: white;
  
}

.headerh1 {
  background-color: #1469CC;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.1rem;
  color: white;
}

h2 {
  background-color: #1469CC;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: white;
  padding: 1rem .5rem 1rem .5rem;
}

h3 {
  background-color: skyblue;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.1rem;
  padding: .5rem .5rem .5rem .5rem;
  color: white;
}


code {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.1rem;
  color: #333333;
}
p.asideparagraph {
  font-family: 'Lora', serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.6rem;
  color: #324A65;
 
}

p {
  font-family: 'Lora', serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: #324A65;
}



header {
  width:100%;
  background-color: #1469CC;
  padding: .5rem .5rem .5rem .5rem;
  clear:both;
  float:left;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.toparticle {
  width:50%;
  background-color:#FFFFFF;
  padding: .1rem .5rem 0 0;
  float:left;
  margin-top: 1rem;
  margin-bottom: .5rem;
  border-style: solid;
  border-width: 0 .2rem .2rem 0;
  border-color: lightgray;
  border-radius: 1rem;
}

article {
  width:50%;
  background-color:#FFFFFF;
  padding: .1rem .5rem 0 0;
  float:left;
  margin-top: .5rem;
  margin-bottom: .5rem;
  border-style: solid;
  border-width: 0 .2rem .2rem 0;
  border-color: lightgray;
  border-radius: 1rem;
}

/*Nav and lists*/


li {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: #333333;   
}


.topaside {
  width:45%;
  float:right;
  padding:.5rem;
  background-color:#FFFFFF;
  margin-top: 1rem;
  margin-left:.5rem;
  border-style: solid;
  border-width: .2rem;
  border-color: lightgray;
  border-radius: 1rem;
}

aside {
  width:45%;
  float:right;
  padding:1rem;
  background-color:#FFFFFF;
  margin-top:.5rem;
  margin-left:.5rem;
}

footer {
  width:96%;
  background-color: #1469CC;
  padding:1rem;
  clear:both;
  float:left;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

a:link {
  text-decoration: none;
  color: #1469CC;
  font-weight: 700;
}

a:visited {
    text-decoration: none;
    color: #1469CC;
    font-weight: 700;
}

a:hover {
  color: #1469CC;
  text-decoration: none;
  font-weight: 900;
}

img { 
  width: 30rem;
  padding: 1rem 0 1rem 1rem;

}

h4 {  
  background-color: #324A65;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.9rem;
  padding: 1rem .5rem 1rem .5rem;
  color: white;
  border-radius: 1rem;
}

h5 {  
  background-color: #698BB2;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.7rem;
  padding: .5rem .5rem .5rem .5rem;
  color: white;
  border-radius: 1rem;
}

