html { 
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%; 
} 

body {
  margin-top: .5rem; 
  background-image: url(../images/rpi-glamour-shot.png)
}

h1 {
  background-color: #1469CC;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.1rem;
  color: white;
  opacity: .9;
  
}

.headerh1 {
  background-color: #1469CC;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.1rem;
  color: white;
  opacity: .9;
}

h2 {
  background-color: #1469CC;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: black;
  padding: 1rem .5rem 1rem .5rem;
  opacity: .9;
}

h3 {
  background-color: skyblue;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.1rem;
  padding: .5rem .5rem .5rem .5rem;
  color: black;
  opacity: .9;
}

.asideparagraph {
  font-family: 'Lora', serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.6rem;
  color: black;
  opacity: .9;
 
}

p {
  font-family: 'Lora', serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: black;
  opacity: .9;
}

header {
  width:100%;
  background-color: #1469CC;
  padding: .5rem .5rem .5rem .5rem;
  clear:both;
  float:left;
  margin-top: .5rem;
  margin-bottom: .5rem;
  opacity: .9;
}

.toparticle {
  width:50%;
  background-color:#FFFFFF;
  padding: .1rem .5rem 0 0;
  float: left;
  margin-top: 0;
  margin-bottom: 0;

}

article {
  width:50%;
  background-color:#FFFFFF;
  padding: .1rem .5rem 0 0;
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  opacity: .9;

}


.mainarticle {
  width:80%;
  background-color:#FFFFFF;
  padding: .1rem .5rem 0 0;
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  opacity: .9;

}


li {
  font-family: 'Lora', serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.9rem;
  color: black;
  opacity: .9;
}


.topaside {
  width:45%;
  float: right;
  padding:.5rem;
  background-color:#FFFFFF;
  margin-top: 1rem;
  margin-left:.5rem;
  border-style: solid;
  border-width: .2rem;
  border-color: lightgray;
  border-radius: 1rem;
  opacity: .9;
}

aside {
  width:45%;
  float: right;
  padding:1rem 1rem 0 1rem;
  background-color:#FFFFFF;
  margin-top:.5rem;
  margin-left:.5rem;
  margin-bottom: 0;
  opacity: .9;
}

figure {
  opacity: .9;
}

footer {
  width:100%;
  background-color: #1469CC;
  padding:1rem;
  clear:both;
  float:left;
  margin-top: 0;
  margin-bottom: 0;
  opacity: .9;
}

a:link {
  text-decoration: none;
  color: black;
  font-weight: 700;
  
}

a:visited {
    text-decoration: none;
    color: black;
    font-weight: 700;

}

a:hover {
  color: #1469CC;
  text-decoration: none;
  font-weight: 900;
}

img { 
  clear:both;
  margin-left: 10rem;
  width: 30rem;
  padding: .5rem 0 .5rem .5rem;

}

h4 {  
  background-color: #324A65;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.9rem;
  padding: 1rem .5rem 1rem .5rem;
  color: white;
  border-radius: 1rem;
  opacity: .9;
}

h5 {  
  background-color: #698BB2;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.7rem;
  padding: .5rem .5rem .5rem .5rem;
  color: white;
  border-radius: 1rem;
  opacity: .9;
}

